*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
html {
    scroll-behavior: smooth;

}
body {
    font-family:'raleway', Sans-serif; 
}

/* Colores de la Estructura del Sitio.*/

/* Colores: */

.hero {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.stormy {
   color: #494E6B;
}

.cloud {
   color: #98878F;
}

.sunset {
   color: #985E6D;
}

.evening {
   color: #192231;
}